services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"

  web:
    image: nginx:alpine
    ports:
      - "8083:80"
    depends_on:
      - backend
    volumes:
      - ./nginx/default.conf.template:/etc/nginx/templates/default.conf.template:ro
